<div class="flex justify-center items-center h-screen w-full ">
  <div class="w-1/2 h-1/3">
    {{#swiper-container class="flex border-solid border-4 border-blue-500 h-full w-full"
      grabCursor=true
      loop=true
      loopAdditionalSlides=3
      slidesPerView=3
      pagination=true
      centeredSlides=true
    }}

      {{#swiper-slide class="flex justify-center items-center h-full w-40"}}Slide 1{{/swiper-slide}}
      {{#swiper-slide class="flex justify-center items-center h-full w-40"}}Slide 2{{/swiper-slide}}
      {{#swiper-slide class="flex justify-center items-center h-full w-40"}}Slide 3{{/swiper-slide}}
      {{#swiper-slide class="flex justify-center items-center h-full w-40"}}Slide 4{{/swiper-slide}}
      {{#swiper-slide class="flex justify-center items-center h-full w-40"}}Slide 5{{/swiper-slide}}
    {{/swiper-container}}
  </div>
</div>
{{outlet}}